<h2>Jars</h2>
<% @user.jars.each do |jar| %>
<p>
  <strong>site_url:</strong>
  <%= link_to jar.site_url, user_jar_path(@user,jar)  %>

  <%= link_to '| Letter Links |', user_jar_letter_links_path(@user,jar) %>

  <%= link_to 'Letters |', user_jar_letters_path(@user,jar) %>

  <% get_letter_unlock_info(jar) %>
  Number of Letters available: <%= @numberOfLettersAvailable %> | 

  <%= link_to 'Destroy Jar', [jar.user, jar],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<h2>Add a jar:</h2>
<%= form_for([@user, @user.jars.build]) do |f| %>
  <p>
    <%= f.label :site_url %><br>
    <%= f.text_field :site_url %>
  </p>
  <p>
    <%= f.label :refresh_rate %><br>
    <%= f.text_field :refresh_rate %>
  </p>
  <p>
    <%= f.submit "Add Jar", class: "btn btn-primary" %>
  </p>
<% end %>