<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= link_to 'Show Letters', letters_path %><br/>

<%= link_to 'Show Time Holders', unlock_time_holders_path %><br/>



<div class="container">
	
	<% @letter.each_with_index do |letter, index| %>
		<% if (index % 3 == 0) %>
			<div class="row">
		<% end %>
		<div class="col">
			<i class="fa fa-envelope fa-5x" style="color:<%= letter.colour %>"></i> <br/>
			<%= letter.title %> <br/>
			Created: <%= letter.created_at.strftime("%d %b. %Y") %><br/>
			<%= link_to 'Open Letter', letter_path(letter) %>
		</div>
		<% if (index % 3 == 2 || index == (@letter_amount-1))  %>
			</div>
		<% end %>
	<% end %>

</div>