<%= form_for ([@jar, @letter]) do |f|  %>

  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@letter.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @letter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="form-group">
    <%= f.label :from, class: "col control-label"  %><br>
    <div class="col">
    <%= f.text_field :from, class: "form-control" %>
     </div>
  </div>

    <div class="form-group">
    <%= f.label :title, class: "col control-label"  %><br>
    <div class="col">
    <%= f.text_field :title, class: "form-control" %>
     </div>
  </div>

  <div class="form-group">
    <%= f.label :text, class: "col control-label" %>
    <div class="col">
    <%= f.text_area :text, class: "form-control" %>
    </div>
  </div>


<div class="form-group">
    <%= f.label :colour, class: "col control-label" %>
    <div class="col">
    <%= f.select :colour, [['Red','red'],['Blue','blue'],['Black','black'],['Pink','pink'],['Yellow','yellow']], class: "form-control" %> 
    </div>
  </div>

    

  <p style="text-align: center;">How the letters will be displayed:</p>
  <div class="container-fluid">
  <div class="row">
      <div class="col">
      <div class="envelope-red">
      <div class="paper"></div></div>
      </div>
      <div class="col">
      <div class="envelope-blue">
      <div class="paper"></div></div>
      </div>
      <div class="col">
      <div class="envelope-black">
      <div class="paper"></div></div>
      </div>
      <div class="col">
      <div class="envelope-pink">
      <div class="paper"></div></div>
      </div>
      <div class="col">
      <div class="envelope-yellow">
      <div class="paper"></div></div>
      </div>
      </div>
      </div>
  <br/>
  
  <div class="form-group">
  <div class="col">
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    </div>
  </div>
  
<% end %>