<%= form_for @letter do |f|  %>

  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@letter.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @letter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </p>
 

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

   <p>
    <%= f.label :colour %><br>
    <%= f.select :colour, [['Red','red'],['Blue','blue'],['Black','black'],['Pink','pink'],['Yellow','yellow']] %> 
  </p>

 
  <p>
    <%= f.submit %>
  </p>

<% end %>