
<h1>Listing Letters</h1>
 
<%= link_to 'Letter Links', letter_links_path %><br/>
<%= link_to 'New Letter', new_letter_path %><br/>


<div class="container">
<div class="row">
<div class="col">Title</div>
<div class="col">Text</div>
<div class="col">Date</div>
<div class="col">isArchived</div>
<div class="col">Colour</div>
<div class="col">Edit</div>
<div class="col">Unarchive</div>
<div class="col">Destroy</div>
</div>

 
  <% @letter.each do |letter| %>
  	<div class="row">
      <div class="col"><%= letter.title %></div>
      <div class="col"><%= letter.text %></div>
      <div class="col"><%= letter.created_at %></div>
      <div class="col"><%= letter.isArchived %></div>
      <div class="col"><%= letter.colour %></div>
      <div class="col"><%= link_to 'Edit', edit_letter_path(letter) %></div>
      <div class="col"><%= link_to 'Unarchive', unarchive_letter_path(letter) %></div>
      <div class="col"><%= link_to 'Destroy', letter_path(letter),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></div>
              </div>
  <% end %>
</div>
<br/>
<%= link_to 'Home Page', root_path %>