
<h1>Listing Letter Links</h1>

<%= link_to 'New Link', new_user_jar_letter_link_path %><br/>


<div class="container">
<div class="row">
<div class="col">Link</div>
<div class="col">Number of Letters Left</div>
<div class="col">Date</div>
<div class="col">Edit</div>
<div class="col">Destroy</div>
</div>

 
  <% @letter_links.each do |letter_link| %>
    <div class="row">
      <div class="col"><%= link_to letter_link.token, user_jar_letter_link_path(@user,@jar,letter_link.token) %></a></div>
      <div class="col"><%= letter_link.letters_number %></div>
      <div class="col"><%= letter_link.created_at %></div>
      <div class="col"><%= link_to 'Edit', edit_user_jar_letter_link_path(@user, @jar, letter_link) %></div>
      <div class="col"><%= link_to 'Destroy', user_jar_letter_link_path(@user, @jar, letter_link),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></div>
              </div>
  <% end %>
</div>