<li class="nav-item <% if controller.action_name == "show" %>active<% end %>">
<%= link_to "Home", jar_path(@jar), class: "nav-link" %>
</li>
<li class="nav-item <% if controller.action_name == "show_archived" %>active<% end %>" >
<%= link_to "View Archived Letters", show_archived_jar_path(@jar), class: "nav-link" %>
</li>
<% if !admin_logged_in? %> 
    <li class="nav-item <% if controller.action_name == "admin_new" %>active<% end %>" >
    <%= link_to "Admin Login", jar_admin_login_path(@jar), class: "nav-link" %>
    </li>
<% else %>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <% if controller.action_name == "admin" %>active<% end %>" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
    <%= link_to "Dashboard", admin_jar_path(@jar), class: "dropdown-item"  %>
    <%= link_to "Log out", jar_admin_logout_path(@jar), class: "dropdown-item", method: :delete  %>
    </div>
    </li>
<% end %>