<!DOCTYPE html>
<html>
  <head>
    <title>Letter Jar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= render 'layouts/shim' %>
  </head>

  <body>
    <% if valid_letter_link? %>
      <%= render 'layouts/navbar_letter_link' %>
    <% elsif logged_in?  %>
      <%= render 'layouts/navbar_logged_in' %>
    <% else  %>
      <%= render 'layouts/navbar_default' %>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
